body {
      font-family: Arial, sans-serif;
      background: linear-gradient(to bottom, black, blue);
      margin: 0;
      padding: 0;
      min-height: 100vh;
    }

    .container {
      max-width: 800px;
      margin: 100px auto;
      background: linear-gradient(to bottom, rgb(10, 5, 37), blue);
      padding: 20px 30px;
      border-radius: 8px;
    }

    h1, h2 {
      margin-bottom: 15px;
      color: #fffcfc;
    }

    label {
      font-weight: bold;
      margin-bottom: 5px;
      color: #ffffff;
    }

    tr {
      background-color: #f9f9f9;
      border: 1px solid black;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    input, textarea {
      padding: 10px;
      border: 1px solid #000000;
      border-radius: 10px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    }

    button {
      background: #0047ff;
      color: white;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      padding: 15px;
    }


    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 10px;
    }

    th {
      background-color: #0047ff;
      color: white;
    }

    .tabs {
      display: flex;
      gap: 10px;
      margin-bottom: 15px;
      flex-wrap: wrap;
    }

    .tab-btn {
      padding: 10px 15px;
      background: #0047ff;
      border-radius: 6px;
      cursor: pointer;
      user-select: none;
      margin-top: 0;
    }

    .tab-btn.active {
      background: #4502fe;
      color: rgb(255, 255, 255);
      box-shadow: #ffffff 1px 1px 50px;
    }

    .add-client-box {
      display: flex;
      gap: 10px;
      margin-bottom: 15px;
    }

    .add-client-box input {
      flex: 1;
    }

    .add-client-box button {
      width: 40px;
      font-size: 22px;
      font-weight: bold;
      margin-top: 0;
    }

    #addClienteBtn {
      background: #0047ff;
      color: white;
      border: none;
      border-radius: 100px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #addClienteBtn:hover {
      background: #4502fe;
      color: white;
      border: none;
      border-radius: 100px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    .tag {
  display: inline-flex;
  align-items: center;
  gap: 6px; /* espaço entre nome e X */
  color: #fff;
  padding: 6px 12px;
  border-radius: 10px;
  margin-right: 8px;
  cursor: pointer;
  transition: background 0.2s;
  position: relative;
}

.tag:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* botão X bonitinho */
.close-btn {
  background: #ff4d4d;
  padding-left: 150px;
  border: none;
  color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 0px;
  cursor: pointer;
  opacity: 0;
  transform: scale(1.2);
  transition: 0.2s ease;
  pointer-events: none; /* evita clicar sem hover */
}

.tag:hover .close-btn {
  opacity: 1;
  transform: scale(1.7);
  pointer-events: auto;
}

#exportExcel {
  margin-top: 15px;
  padding: 10px 20px;
  background: #0047ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#exportExcel:hover {
  background: #4502fe;
}

#file-down {
  vertical-align: middle;
  margin-right: 8px;
  color: white;
}

    

    

    